fastapi
uvicorn[standard]

pymongo
dnspython

python-dotenv

pydantic
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]


python-multipart
email-validator

google-generativeai

httpx

openai