fastapi
uvicorn[standard]

pymongo
dnspython

python-dotenv

pydantic
pydantic-settings

python-jose[cryptography]


bcrypt==4.0.1
passlib[bcrypt]==1.7.4


python-multipart
email-validator

google-generativeai

httpx

openai